<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Whats GROWING ON - Edit Plants</title>
</head>

<body>
    <header>
        <%- include('../usernav.ejs') %>
    </header>
    <form action="/plants/<%= plant._id %>?_method=PUT" method="POST" autocomplete="off">
        <div class="container">
            <div class="card">
                <form >
                    <fieldset>
                        <legend>Edit Plant Below</legend>
                        <label>Plant Name:</label>
                            <input type="text" name="name" placeholder="<%= plant.name %>"><br>
                        <label>Date Planted:</label>
                            <input type="month" name="date" placeholder="<%= plant.date %>"><br>
                        <label>Harvest Date:</label>
                            <input type="month" name="harvest" placeholder="<%= plant.harvest %>"><br>
                        <label>Sun: Full - Partial - None:</label>
                            <input type="text" name="sun" placeholder="<%= plant.sun %>"><br>
                        <label>Notes:
                            <input type="text" name="notes" placeholder="<%= plant.notes %>"><br>
                        </label>
                    </fieldset>
                    <input name="text" type="submit" value="Update">
                </form>
            </div>
        </div>
    </form>
</body>

</html>

