<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Whats GROWING ON - Index</title>
</head>

<body>
    <header>
        <%- include('../usernav.ejs') %>
    </header>
    <div class="container">
        <div class="card">
        <table>
            <thead>
                <th>Delete</th>
                <th>Edit</th>
                <th>Plant</th>
                <th>Planted</th>
                <th>Harvest</th>
                <th>Sun</th>
                <th>Notes</th>
            </thead>
            <tbody>
            <% plants.forEach(function(plant) { %>
                <tr>
                    <td>
                            <form action="/plants/<%= plant._id %>?_method=DELETE" class="delete-form" method="POST">
                                <button type="submit">X</button>
                            </form>
                        </td>
                        <td><a href="/plants/<%= plant._id %>/edit">Edit</a></td>
                        <td><%= plant.name %></td>
                        <td><%= plant.date %></td>
                        <td><%= plant.harvest %></td>
                        <td><%= plant.sun %></td>
                        <td><%= plant.notes %></td>
                    </tr>
                </tbody>
                <% }) %>
            </table>
        </div>
    </div>
</body>

</html>